@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --primary-color: orangered;
  --white-color: whitesmoke;
  --white: #ffffff;
  --color-bg: hsla(220, 20%, 97%, 1);
  --color-gray1: hsla(0, 0%, 100%, 0.7);
  --color-gray2: hsla(220, 12%, 43%, 1);
  --color-gray3: hsla(222, 23%, 71%, 0.2);
  --color-gray4: hsla(218, 22%, 26%, 1);
  --color-black: #444;
  --color-blue: #1098F7;
  
  --container-lg: 85%;
  --container-md: 92%;
  --form-width: 50%;
  --blog-width: 65%;

  --transition: all 400ms ease;
}

body {
  font-family: 'Montserrat';
  line-height: 1.6;
  scroll-behavior: smooth;
  background: var(--color-bg);
  font-size: 1rem;
  color: var(--color-gray4);
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--color-gray4);
  text-decoration: none;
}

ul {
  list-style: none ;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-black);
  line-height: 1.1;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.3rem;
  line-height: 1.25;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  line-height: 1.4;
}

img {
  display: block;
  object-fit: cover;
  width: 100%;
}

section {
  margin-top: 6rem;
}

.container {
  width: var(--container-lg);
  margin-inline: auto;
}

.btn {
  display: inline-block;
  width: fit-content;
  padding: 0.6rem 0.9rem;
  border-radius: 0.6rem;
  background: var(--primary-color);
  color: var(--white-color);
  font-weight: 500;
  cursor: pointer;
  border: 2px solid transparent;
  transition: var(--transition);
}

.btn.primary {
  background: rgba(16, 152, 247, 0.4);
  color: var(--white);
}

.btn.white {
  background: var(--white);
  color: var(--primary-color);
}

.btn.category {
  background: var(--color-gray2);
  color: var(--white-color);
  font-size: 0.8rem;
  font-weight: 400; 
  padding: 0.4rem 0.8rem;
  width: 100%;
  text-align: center;
  opacity: 0.7;
}

.btn.delete {
  background: red;
  color: var(--white-color);
}

.btn:hover {
  border-color: var(--primary-color);
  background: transparent;
  color: var(--color-gray4);
  transform: scale(1.02);
}

.center {
  text-align: center;
  padding-top: 5rem;
  margin-inline: center;
  display: block;
  width: 100%;
}

.error h2 {
  margin-top: 3rem;
}


/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

nav {
  width: 100vw;
  height: 5rem;
  display: grid;
  place-items: center;
  background: var(--color-gray1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 4px solid var(--color-bg);
  backdrop-filter: blur(20px);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.logo {
  width: 7rem;
  display: block;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-menu li a:hover {
  color: var(--primary-color);
}

.toggle-btn {
  display: none;
} 





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

footer {
  background: var(--color-black);
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.footer-categories {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 3rem;
  font-weight: 600;
  transition: var(--transition);
}

.footer-categories a {
  background: var(--color-gray3);
  color: var(--white-color);
  padding: 0.6rem 1rem;
  border-radius: 0.6rem;
}

.footer-categories a:hover {
  background: var(--white-color);
  color: var(--primary-color);
}

.footer-down {  
  display: flex;
  justify-content: space-between;
  border-top: 2px solid var(--color-gray2);
  margin-top: 4rem;
  
}

.footer-socials {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 6rem;
}

.footer-socials a {
  background: var(--white-color);
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  transition: var(--transition);
  display: flex;
  align-items: center;
}

.footer-socials a svg {
  color: var(--primary-color);
  font-size: 1.2rem;
}

.footer-socials a:hover {
  border-color: var(--primary-color);
  background: transparent;
  
}

.footer-socials a svg:hover {
  color: var(--white-color);
}

.footer-down .copy {
  color: var(--white-color);
  text-align: center;
  padding: 1.5rem 0;
  margin-right: 6rem;
  margin-bottom: -2rem;
}

/*-----------HOME STYLES BEGIN------------------------*\

/*-----------------------------------*\
  #POSTS PAGE STYLES
\*-----------------------------------*/

.posts-container, .authorposts-container, .categoryposts-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
}

.post {
  background: var(--white);
  padding: 1rem;
  border-radius: 1rem;
  padding-bottom: 2rem;
  transition: var(--transition);
}

.post:hover {
  box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.1);
}

.post-image {
  border-radius: 1rem;
  overflow: hidden;
  height: 16rem;
}

.post-content {
  margin-top: -2.5rem;
}

.post-content h3 {
  margin: 1rem 0 0.6rem;
}

.post-down {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.post-author {
  display: flex;
  gap: 1rem;
  align-items: flex-start;
}

.author-image {
  width: 2.6rem;
  aspect-ratio: 1/1;
  border-radius: 0.6rem;
  overflow: hidden;
}





/*-----------------------------------*\
  #POST DETAIL STYLES
\*-----------------------------------*/

.post-detail {
  width: var(--blog-width);
  background: var(--white);
  margin-inline: auto;
  padding: 2rem 0;
}

.detail-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.detail-btns {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.detail-image {
  margin: 1rem 0;
  height: fit-content;
  max-height: 30rem;
  overflow: hidden;
}

.post-detail p {
  margin-bottom: 1rem;
}

/*-----------REGISTER AND FORM STYLES BEGIN------------------------*\

/*-----------------------------------*\
  #REGISTER PAGE STYLES
\*-----------------------------------*/

.register {
  margin-top: 10rem;
}

.reg-container, .login-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
  width: 68%;
  background: var(--white);
  /* padding: 4rem 2rem; */
  border-radius: 1rem;
  
}

.create-post {
  width: 68%;
  margin-inline: auto;
  display: grid;
  place-items: center;
  background: var(--white);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.reg-left, .login-right {
  margin: 3rem;
}

.form-error {
  margin-top: 0.6rem;
  background: rgba(255, 69, 0, 0.7);
  color: var(--white);
  font-size: 0.9rem;
  padding: 0.6rem;
  border-radius: 0.5rem;
  display: block;
  margin-bottom: 0.6rem;
}

.form, .former {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input, select, textarea {
  width: 100%;
  padding: 1rem;
  border-radius: 0.6rem;
  background: var(--white-color);
}

.new {
  width: 100%;
  padding: 1rem;
  border-radius: 0.6rem;
  background: var(--white-color);
}

.reg-right {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
  background: rgba(255, 69, 0, 0.7);
  border-radius: 2rem 0 0 2rem;
}

.login-left {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  align-items: center;
  justify-content: center;
  background: rgba(255, 69, 0, 0.7);
  border-radius: 0 2rem 2rem 0;
}

/* text area from react quill styles  */

.ql-editor {
  overflow: scroll;
  height: 10rem !important;
  background: var(--white);
}

/*-----------------------------------*\
  #AURTHORS PAGE STYLES
\*-----------------------------------*/

.authors-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
}

.author {
  background: var(--white);
  padding: 1rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  transition: var(--transition);
}

.author:hover {
  box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, 0.7);
}

/*-----------------------------------*\
  #USER PROFILE PAGE STYLES
\*-----------------------------------*/

.profile-container {
  display: grid;
  place-items: center;
  text-align: center;
}

.profile-details {
  width: 100%;
}

.avatar-wrap {
  width: 15%;
  aspect-ratio: 1/1;
  position: relative;
  margin-inline: auto;
  margin-top: 1rem;
}

.profile-avatar {
  height: 100%;
  border-radius: 50%;
  border: 1.1rem solid var(--white);
  overflow: hidden;
}

.profile-form {
  height: 1rem;
}

.profile-form input {
  visibility: hidden;
}

.profile-form label, .avatar-btn {
  background: var(--color-gray4);
  color: var(--white);
  font-size: 1.2rem;
  position: absolute;
  right: 2rem;
  bottom: 1.4rem;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
}

.avatar-btn {
  cursor: pointer;
  padding: 0;
  font-size: 1.4rem;
  background: var(--primary-color);
}

.profile-details h1 {
  margin-top: 1.5rem;
}

.former.profile-former {
  margin-top: 3rem;
  margin-inline: auto;
  width: var(--form-width);
}




/*-----------------------------------*\
  #DASHBOARD PAGE STYLES
\*-----------------------------------*/


.dashboard-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.dashboard-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background: var(--white);
  padding: 0.6rem 1.2rem;
  border-radius: 0.8rem;
}

.dashboard-left {
  display: flex;
  gap: 1.7rem;
  width: 100%;
  align-items: center;
}

.dashboard-image {
  width: 4rem;
  border-radius: 0.7rem;
  overflow: hidden;
}

.dashboard-right {
  display: flex;
  gap: 1rem;
}